.btn{
  display:block;
  margin-bottom: 10px;
}
.container{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 800px;
}
.left-panel{
  float: left;
  width: 592px;
}
.right-panel{
  float: right;
  width: 180px;
  padding-left: 10px;
  padding-right: 10px;
}
.tab-pane{
  border-left: solid 1px #CCC;
  border-right:  solid 1px #CCC;
  border-bottom:  solid 1px #CCC;
}
.iframe-tab{
  width: 590px;
  height: 400px;
}
.iframe-tab-bottom{
  font-size:10px;
  text-align:center;
  width:590px;
}
.iframe-tab-bottom a{
  color: #CCC;
}
